header {
  width: 10000px;
 max-width:1500px ;
  background: #06e924;
}

.container {
  width: 1500px;

  overflow: hidden;
  display: inline-block;
}

.div12{
width:1500px ;
height: 1000px;
}
.img {
  width: 100px;
  height: 2%;
}

.text46 {
  text-decoration: none;
  color: white;
  font-size: 50px;
  position: relative;
  bottom: 80px;
  right: 300px;
}

  .Boton23 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    background-color:rgb(87, 81, 81);;

  position: relative;
  top:50px;
  left:90vh ;
  width: 300px;
  height:70px ;
}
.Boton24 {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(87, 81, 81);
position: relative;

left:90vh ;
top:1px;
bottom:10px ;
width: 300px; 
height:70px ;
    
}

.Boton23:hover{
  text-decoration: none;
  color: #ffffff;
  background: #06e924
  }
  .Boton24:hover{
    text-decoration: none;
    color: #ffffff;
    background: #06e924
    }
      
    .Boton25:hover{
      text-decoration: none;
      color: #ffffff;
      background: #06e924
      }
        
      .Boton26:hover{
        text-decoration: none;
        color: #ffffff;
        background: #06e924
        }
          
    
    
  





.cuerpo {
  display: block;
  bottom: 60%;
  width: 500px ;
  position: relative;
  top: 40px;
}

@media screen and (max-width: 736vh) {
  header{
    max-width: 1500;
  }
  .text {
    text-decoration: none;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 80px;
    left: 80vh;
  }
  

}