header {
  width: 110vh;
  height: auto;
  overflow: hidden;
 max-width:110vh ;
  background: #06e924;
}
.container {
  width: 100vh;
  overflow: hidden;
  display: inline-block;
}

header nav {
  float: right;
  line-height: 10px;
}
header nav a {
  display: inline-block;
  color: black;
  padding: 5px 20px;
}

.img {
  width: 100px;
  height: 2%;
}

.text {
  color: white;
  font-size: 40px;
  position: relative;
  bottom: 11vh;
  left: 18vh;
}
.Boton {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(134, 226, 12, 0.808);
  margin-top: 100px;
  margin-bottom: 80px;
  border: 2px solid white;
  margin: 36%;

}
.cuerpo {
  display: block;
  bottom: 60%;
  width: ;
  position: relative;
  top: 40px;
}

.BotonTRES{
  margin:auto ;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(134, 226, 12, 0.808);
  margin-top: 100px;
  margin-bottom: 80px;
  border: 2px solid white;
  margin: 36%;
  position: relative;
top:8vh;

}
.Boton4{
  
  padding:10px ;
  
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  background-color: rgba(134, 226, 12, 0.808);
  margin: 36%;
  width:1000px ;
  position: relative;
top:15vh;
}


@media screen and (max-width: 736vh) {
  header {
    width: 120vh;

    text-align: left;
    line-height: 60px;
  }
.Boton .BotonTRES{
  margin: 80%;
position: relative;
right:12vh;
top:10vh ;
}
}